module.exports = {
  // allow: { package: '^1.0.0' },
  // deny: { package: '^1.0.0' },
  // exclude: ['package'],
  // include: ['package'],
  // minDays: 14,
  // json: true,
  // production: true
  // unsafe: true,
  // allowFrom: { package: '2022-11-14' },
  // excludeDev: false,
  // mode: 'strict',
};
