{
  "version": "1.0.0",
  "configurations": [
    {
      "type": "node",
      "request": "launch",
      "name": "start",
      "preLaunchTask": "npm: build",
      "outputCapture": "std",
      "program": "${workspaceFolder}\\app\\index.js",
      "args": ["."]
    }
  ]
}
